<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Details</title>
</head>
<body>

<h1>User Details</h1>

<form th:action="@{/users/{userId}(userId=${user.userId})}" th:object="${user}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" th:field="*{username}" /><br>

    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" /><br>

    <label for="name">Full Name:</label>
    <input type="text" id="name" th:field="*{name}" /><br>

    <hr>

    <h3>Address</h3>
    <label for="addressLine1">Address Line 1:</label>
    <input type="text" id="addressLine1" th:field="*{address.addressLine1}" /><br>

    <label for="addressLine2">Address Line 2:</label>
    <input type="text" id="addressLine2" th:field="*{address.addressLine2}" /><br>

    <label for="city">City:</label>
    <input type="text" id="city" th:field="*{address.city}" /><br>

    <label for="region">Region:</label>
    <input type="text" id="region" th:field="*{address.region}" /><br>

    <label for="country">Country:</label>
    <input type="text" id="country" th:field="*{address.country}" /><br>

    <label for="zipCode">Zip Code:</label>
    <input type="text" id="zipCode" th:field="*{address.zipCode}" /><br>

    <hr>

    <button type="submit">Update User Account</button>
</form>

<form th:action="@{/users/{userId}/delete(userId=${user.userId})}" method="post">
    <button type="submit">Delete User Account</button>
</form>

<hr>

<h3>Accounts</h3>
<ul>
    <li th:each="account : ${accounts}">
        <a th:href="@{/users/{userId}/accounts/{accountId}/edit(userId=${user.userId}, accountId=${account.accountId})}"
           th:text="${account.accountName}"></a>
    </li>
</ul>

<form th:action="@{/users/{userId}/accounts(userId=${user.userId})}" method="post">
    <button type="submit">Create New Bank Account</button>
</form>

<br>

<a th:href="@{/users}">Back</a>

</body>
</html>
